{% extends 'base.html' %}
{% load static %} 

{% block content %}
    <section class="mainHome">
        <article class="mainIzquierda">
            <h1>Cook & Chill</h1>
            <img src="{% static 'img/logo.jpg' %}" alt="Logo" class="homeLogo">            
            <p>
                L'associació Cook & Chill es va fundar el 2024 a l'Institut Daniel Blanxart. 
                Som uns apassionats de la gastronomia i ens encanta compartir les nostres receptes.
            </p>
        </article>
        
        <article class="mainDerecha">
            <img src="{% static 'img/mainFoto.jpg' %}" alt="La nostra cuina">        
        </article>
    </section>
{% endblock %}