{% extends 'base.html' %}
{% load static %} 

{% block content %}
    <section class="mainHome">
        <article class="mainIzquierda">
            <h1>Cook & Chill</h1>
            <img src="{% static 'img/logo.jpg' %}" alt="Logo" class="homeLogo">            
            
            <p>
                <b>Cook & Chill</b> es una asociación fundada en 2026 por un grupo de alumnos del Instituto Daniel Blanxart. 
                Nacimos con la ilusión de crear un espacio donde compartir nuestra pasión por la cocina y aprender nuevas técnicas culinarias entre amigos.
            </p>
            <br>
            <p>
                Estamos ubicados en Olesa de Montserrat. Entre nuestras aficiones destacan la repostería creativa, 
                la organización de catas de productos locales y, por supuesto, disfrutar de una buena comida en la mejor compañía.
            </p>
        </article>
        
        <article class="mainDerecha">
            <img src="{% static 'img/mainFoto.jpg' %}" alt="Nuestra cocina">        
        </article>
    </section>
{% endblock %}