{% extends "base.html" %}

{% block content %}

<div class="faqs">
<h2>Preguntas Frecuentes</h2>

    <details>
        <summary>¿Cuánto tarda el registro?</summary>
        <p>El registro es inmediato y gratuito.</p>
    </details>

    <details>
        <summary>¿Tiene algún coste pertenecer al club?</summary>
        <p>No, pertenecer al club es totalmente gratis.</p>
    </details>

    <details>
        <summary>¿Voy a aprobar la practica?</summary>
        <p>Por supuesto!.</p>
    </details>

    <details>
        <summary>¿Puedo darme de baja?</summary>
        <p>Sí, puedes darte de baja cuando quieras.</p>
    </details>

    <details>
        <summary>¿Puedo subir mis propias recetas?</summary>
        <p>Sí, los usuarios pueden compartir sus recetas.</p>
    </details>

    <details>
        <summary>¿Las recetas están moderadas?</summary>
        <p>Sí, el equipo revisa las recetas antes de publicarlas.</p>
    </details>

    <details>
        <summary>¿Dónde estáis ubicados?</summary>
        <p>Nuestra asociación está ubicada en Cataluña.</p>
    </details>

    <details>
        <summary>¿Qué tipo de cocina ofrecéis?</summary>
        <p>Ofrecemos recetas tradicionales y modernas.</p>
    </details>

</div>
{% endblock %}
