/* estilos globales, se enñaza a "cuida/settings.py */

*{
    background-color: red;
    margin: 0%;
    width: 100%;
}
.nav-container {
    background-color: #2c3e50; /* Un color oscuro elegante */
    padding: 15px;
    overflow: hidden;
}

.nav-container a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-family: sans-serif;
    transition: 0.3s;
}

.nav-container a:hover {
    color: #f1c40f; /* Color amarillo al pasar el ratón */
}