{% load static %}
{# Esto carga los archivos estaticos de django #}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web de Cocina</title>
    {# Enlace al css, django busca "style.css en la ruta que pusimos en static#}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header class="globalHeader">
        <nav class="navGlobal">
            {#Enlaces dinámicos, éstos estñan definidos en urls.py#}
            <a href="/" class="navLink">Home</a>
            <a href="{% url 'faqs' %}" class="navLink">FAQs</a>
            <a href="{% url 'peticiones' %}" class="navLink">Peticions</a>
            <a href="{% url 'login' %}" class="loginBoton">Login</a>
        </nav>
    </header>

    <main>
        {# aqui es donde se cargara el html de las otras paginas #}
        {% block content %}
        {% endblock %}
    </main>  

    <!--Banner Cookies-->
    <div id="cookieBanner" class="cookie-banner">
        <p>
            Las mejores galletas de la ciudad que compartimos con 987 socios. 

        </p>
        <button onclick="aceptarCookies()">Aceptar</button>
    </div>
<!-- Banner Política de Privacidad -->
    <div id="privacyBanner" class="privacy-banner">
        <p>
            De acuerdo con la normativa vigente en protección de datos, informamos que los
            datos personales facilitados serán tratados de forma confidencial y utilizados
            únicamente para la gestión interna de la asociación Cook & Chill.
        </p>
        <button onclick="cerrarPrivacidad()">Cerrar</button>
    </div>

    <footer class="globalFooter">
        <p><b>Associación Daniel Blanxart</b> | Instagram - Facebook - Twitter</p>
        <div class="footer-links">
            <a href="javascript:void(0)" onclick="document.getElementById('cookieBanner').style.display='block'">
                Cookies
            </a>
            <a href="javascript:void(0)" onclick="document.getElementById('privacyBanner').style.display='block'">Privacidad</a>
        </div>
        <div class="payments">
            Método de pago: 💳 Visa | 💳 Mastercard | 🅿️ PayPal
        </div>
    </footer>
    <script>
        /* Esto controla la visibilidad de los banners */
        function aceptarCookies(){
            document.getElementById('cookieBanner').style.display = 'none';
        }
        function cerrarPrivacidad() {
            document.getElementById('privacyBanner').style.display = 'none';
        }
    </script>
</body>
</html>